In [3]:
library(tidyverse)
library(repr)
library(dbplyr)
library(tidymodels)
library(DBI)
library(purrr)
options(repr.matrix.max.rows = 6)
source("tests.R")
source('cleanup.R')

Attaching package: ‘dbplyr’


The following objects are masked from ‘package:dplyr’:

    ident, sql


Warning message in file(filename, "r", encoding = encoding):
“cannot open file 'tests.R': No such file or directory”

ERROR: Error in file(filename, "r", encoding = encoding): cannot open the connection

In [22]:
read_delim("data/cleve.mod", delim = " ", col_names = FALSE, skip = 20)

Warning message:
“One or more parsing issues, call `problems()` on your data frame for details,
e.g.:
  dat <- vroom(...)
  problems(dat)”
Rows: 303 Columns: 19
── Column specification ────────────────────────────────────────────────────────
Delimiter: " "
chr (17): X2, X3, X4, X6, X7, X8, X9, X10, X11, X12, X13, X14, X15, X16, X17...
dbl  (2): X1, X5

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

    X1 X2   X3     X4     X5  X6    X7  X8  X9    X10   X11   X12  X13  X14
1   63 male angina 145.0  233 true  NA  hyp 150.0 fal   NA    2.3  down 0.0
2   67 male asympt 160.0  286 fal   NA  NA  hyp   108.0 true  1.5  flat 3.0
3   67 male asympt 120.0  229 fal   NA  NA  hyp   129.0 true  2.6  flat 2.0
⋮   ⋮  ⋮    ⋮      ⋮      ⋮   ⋮     ⋮   ⋮   ⋮     ⋮     ⋮     ⋮    ⋮    ⋮
301 49 male notang 118.0  149 fal   NA  NA  hyp   126.0 fal   NA   0.8  NA
302 74 NA   fem    abnang 120 269.0 fal NA  NA    hyp   121.0 true 0.2  NA
303 54 NA   fem    notang 160 201.0 fal NA  norm  163.0 fal   NA   0.0  NA
    X15  X16  X17  X18  X19
1   NA   fix  buff NA   H
2   norm sick S2   NA   NA
3   NA   rev  sick S1   NA
⋮   ⋮    ⋮    ⋮    ⋮    ⋮
301 NA   up   3.0  norm sick S1
302 NA   up   1.0  norm buff  H
303 NA   up   1.0  norm buff  H